.green-text{
    color: #2a746d;
}
.container-fluid{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPgogIDxmaWx0ZXIgaWQ9Im5vaXNlIj4KICAgIDxmZVR1cmJ1bGVuY2UgdHlwZT0iZnJhY3RhbE5vaXNlIiBiYXNlRnJlcXVlbmN5PSIwLjYiIG51bU9jdGF2ZXM9IjMiLz4KICA8L2ZpbHRlcj4KICA8cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWx0ZXI9InVybCgjbm9pc2UpIiBmaWxsPSJ0cmFuc3BhcmVudCIvPgo8L3N2Zz4=");
    background-size: cover;
    padding: 100px;
}
.section {
    height: 100vh; /* Each section takes full viewport height */
    padding: 20px;
}

body {
    background-size: cover;
}

.footer{
    background: white;
    grid-column: 1 / -1;
    margin-top:  auto;
}

.section1, .section2, .section3, .section4 , .section5,  .section6,  .section7 ,.section8{
    min-height: 100vh; /* Make each section full viewport height */
    margin-bottom: 50px; /* Add space between sections */
}

html, body {
    overflow-x: hidden; /* Only prevent horizontal scroll */
    width: 100%;
    height: auto; /* Allow vertical expansion */
}
.logo{
    max-width: 650px;
    max-height: 650px;
}
.skill-badge{
    max-width: 230px;
    max-height: 230px;
    flex-direction: row;
    float: left;
}
.portfolio-header {
    letter-spacing: 0.3rem;
}

.hero-subtitle {
    color: black;
    font-size: 30px;
    font-family: 'Brownwood NF';
}

.small-text{
    font-size: 40px !important;
    font-family: 'FuturaCyrillicBook';
}

.achievement{
    background-color: #2a746d !important;
    color: #dfebe5;
    border-radius: 5% 5% 5% 5%;
}

.hero-text{
    font-size: 300px;
    font-family: 'Brownwood NF';
    text-align: start;
}

.skills-banner{
    font-size: 75px;
    font-family: 'Brownwood NF';
    margin-bottom: 30px;
    color: #2a746d !important;
}

.hero-background{
    background-image: url('./assets/background.webp');
    color: rgba(139, 243, 233, 0.5);
    background-size:cover;
    background-clip: text;
}
.intro-text{
    font-size: 35px;
    font-family: 'Brownwood NF';
    text-align: start;
}
.edge-banner{
    position: absolute;
    right: 0; /* or left: 0 */
    top: -350px; /* adjust vertical position */
    transform: translateY(-50%); /* center vertically */
    width: 500px; /* adjust size */
    z-index: 1000; /* ensure it stays on top */
    margin-right: -100px;
    margin-bottom: 100px
}

@font-face {
    font-family: 'Brownwood NF';
    font-style: normal;
    font-weight: normal;
    src: local('Brownwood NF'),url(./assets/BrownwoodNF.otf);
}
@font-face {
    font-family: 'FuturaCyrillicDemi';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/FuturaCyrillicDemi.ttf') format('ttf');
}

@font-face {
    font-family: 'FuturaCyrillicBook';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/FuturaCyrillicBook.ttf') format('ttf');
}