.green-text {
    color: #2a746d;
}

.container-fluid {
    background-image: url(./assets/Background.png);
    background-size:auto;
    background-repeat: repeat;
    padding: 100px;
}

body {
    background-size: cover;
}

.section1,
.section2,
.section3,
.section4,
.section5,
.section6,
.section7,
.section8 {
    min-height: 100vh;
    /* Make each section full viewport height */
    margin-bottom: 30px;
    /* Add space between sections */
}

html,
body {
    overflow-x: hidden;
    /* Only prevent horizontal scroll */
    width: 100%;
    height: auto;
    /* Allow vertical expansion */
}

.logo {
    max-width: 400px;
    max-height: 400px;
}

.skill-badge {
    max-width: 150px;
    max-height: 150px;
    flex-direction: row;
    float: middle;
}

.portfolio-header {
    letter-spacing: 0.1rem;
}

.hero-subtitle {
    color: black;
    font-size: 30px;
    font-family: 'Brownwood NF';
}

.small-text {
    font-size: 20px !important;
    font-family: 'FuturaCyrillicBook';
}

.achievement {
    background-color: #2a746d !important;
    color: #dfebe5;
    border-radius: 5% 5% 5% 5%;
}

.hero-text {
    font-size: 250px;
    font-family: 'Brownwood NF';
    text-align: start;
}

.skills-banner {
    font-size: 55px;
    font-family: 'Brownwood NF';
    margin-bottom: 30px;
    color: #2a746d !important;
}

.hero-background {
    background-image: url('./assets/background.webp');
    color: rgba(139, 243, 233, 0.5);
    background-size: cover;
    background-clip: text;
}

.intro-text {
    font-size: 30px;
    font-family: 'Brownwood NF';
    text-align: start;
}

.edge-banner {
    position: absolute;
    right: 0;
    /* or left: 0 */
    top: -350px;
    /* adjust vertical position */
    transform: translateY(-50%);
    /* center vertically */
    width: 500px;
    /* adjust size */
    z-index: 1000;
    /* ensure it stays on top */
    margin-right: -100px;
    margin-bottom: 100px
}

#testimonial {
    background: #2a746d;
    max-width: 1000px;
    margin: auto;
    display: flex;
}

.carousel-inner {
    min-height: 550px !important;
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 5rem;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    line-height: 1.5rem;
    font-family: 'Brownwood NF';
}

.black-icon {
    color: black !important;
    font-size: 70px;
}

.browser-row {
    margin-top: 50px;
    padding: 10px;
    background-image: url(./assets/gif1.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 750px;
}

.browser-row:after {
    content: "";
    display: table;
    clear: both;
}
  
.browser-column {
    float: left;
}

.left {
    width: 15%;
}

.right {
    width: 10%;
}

.middle {
    width: 75%;
    margin-left: -15px;
}

.dot {
    margin-top: 4px;
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.bar {
    width: 17px;
    height: 3px;
    background-color: #aaa;
    margin: 3px 0;
    display: block;
}
input[type=text] {
    width: 100%;
    border-radius: 3px;
    border: none;
    background-color: white;
    margin-top: -8px;
    height: 25px;
    color: #666;
    padding: 5px;
}
  
.content {
    width: 300px;
    height: 300px;
}

.carousel-caption img {
    margin-top: 2rem;
    align-self: flex-end;
    vertical-align: bottom !important;
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.carousel-control-prev {
    justify-content: flex-start;
}

.carousel-control-next {
    justify-content: flex-end;
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset;
}

@font-face {
    font-family: 'Brownwood NF';
    font-style: normal;
    font-weight: normal;
    src: local('Brownwood NF'), url(./assets/BrownwoodNF.otf);
}

@font-face {
    font-family: 'FuturaCyrillicDemi';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/FuturaCyrillicDemi.ttf') format('ttf');
}

@font-face {
    font-family: 'FuturaCyrillicBook';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/FuturaCyrillicBook.ttf') format('ttf');
}

@media (max-width: 1000px){
    
    .logo {
        max-width: 450px;
        max-height: 450px;
    }
    .hero-text {
        font-size: 200px;
        font-family: 'Brownwood NF';
        text-align: start;
    }
}
@media (max-width: 1920px){
    
    .logo {
        max-width: 600px;
        max-height: 600px;
    }
    .hero-text {
        font-size: 300px;
        font-family: 'Brownwood NF';
        text-align: start;
    }
}